/* =============
    section-3
============= */
.container-3 {
    width: 75%;
    margin: 0 auto;
    
    #our-programs {
      display: grid;
      grid-template-areas:
        "op"
        "fourh"
        "op1"
        "op2"
        "ls"
        "op3"
        "op4";
      
      #our-programs-heading{ grid-area: op; }
      #fourh {grid-area: fourh;}
      #our-programs-info-1 { grid-area: op1; }
      #our-programs-info-2 {
        display: grid;
        grid-area: op2;
        grid-template-columns: 50% 50%;
        grid-template-areas:
          "op2-lc op2-rc";
        
        section { grid-area: op2-lc; }
        aside { grid-area: op2-rc; 
          img { width: 100%; }
        }
      }
      #our-programs-info-3 { grid-area: op3; }
      #our-programs-info-4 { grid-area: op4; }
      
      #op-pics {
        display: grid;
        grid-template-areas: 
        ". i1 i2 i3 ."
        ". i4 . i5 .";
      }
    }
  }