/* =============
    mission-statement
============= */
#mission-statement {
    
    @include md{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "mission-statement mission-statement mission-statement mission-statement";
    }

    @include lg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "mission-statement mission-statement mission-statement mission-statement";
    }

}
