/* =============
    section-3
============= */
.container-3 {
    width: 75%;
    margin: 0 auto;
    
    #our-programs {
      display: grid;
      grid-template-areas:
        "op"
        "op1"
        "op2";
      
      #our-programs-heading{ grid-area: mh; }
      #our-programs-info-1 { grid-area: op1; }
      #our-programs-info-2 {
        display: grid;
        grid-area: op2;
        grid-template-columns: 50% 50%;
        grid-template-areas:
          "op2-lc op2-rc";
        
        section { grid-area: op2-lc; }
        aside { grid-area: op2-rc; 
          img { width: 100%; }
        }
      }
    }
  }