/* =============
    section-4
============= */
.container-4 {
  width: 75%;
  margin: 20px auto;

  #boarding {
    display: grid;
    grid-template-areas:
      "bh"
      "bi1"
      "bp1"
      "bi2"
      "bp2"
      "bi3"
      "bi4";

    #boarding-heading {
      grid-area: bh;
    }


  }

  @include md {
    display: grid;
    grid-template-columns: 40% auto;
  }

  @include lg {
    grid-template-columns: 50% auto;
  }

  @include xl {
    grid-template-columns: 16px 480px auto;
  }
}