/* =============
    section-2
============= */
.container {
  width: 75%;
  margin: 0 auto;

  #donations-and-volunteering {
    display: grid;
    grid-template-areas:
      "dv"
      "dv1"
      "dv2";

    text-align: left;

    #donations-and-volunteering-heading {
      grid-area: dv;

      h1 {
        color: #fff;
        background-color: #60695C;
      }
    }

    #donations-and-volunteering-info1 {
      display: grid;
      grid-area: dv1;
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "dv1-lc dv1-rc";

      section {
        grid-area: dv1-lc;
      }

      aside {
        grid-area: dv1-rc;

        img {
          width: 100%;
        }
      }
    }

    #donations-and-volunteering-info-2 {
      grid-area: dv2;
    }
  }

  @include md {
    display: grid;
    grid-template-columns: 40% auto;
  }

  @include lg {
    grid-template-columns: 50% auto;
  }

  @include xl {
    grid-template-columns: 16px 480px auto;
  }

}